
<div class="wrapper" ng-controller="donorListController">
    <div class="sidebar" data-color="red" data-image="assets/img/appdesign.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                   Welcome, {{username}}
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="#/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#/user">
                        <i class="pe-7s-user"></i>
                        <p>My Profile</p>
                    </a>
                </li>
                <li ng-hide="isNurse">
                    <a href="#/userList">
                        <i class="pe-7s-note2"></i>
                        <p>User List</p>
                    </a>
                </li>
                <li ng-hide="isNurse || isAdmin">
                    <a href="#/branchList">
                        <i class="pe-7s-note2"></i>
                        <p>Branch List</p>
                    </a>
                </li>
                 <li ng-hide="!isNurse">
                    <a href="#/donorList">
                        <i class="pe-7s-note2"></i>
                        <p>Donor List</p>
                    </a>
                </li>
                <li ng-hide="!isNurse">
                    <a href="#/donation">
                        <i class="pe-7s-science"></i>
                        <p>Record Blood Donation</p>
                    </a>
                </li>
                <li ng-hide="!isNurse">
                    <a href="#/notify">
                        <i class="pe-7s-bell"></i>
                        <p>Notify Blood Donor</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="#/user">
                              My Account
                            </a>
                        </li>
                        <li>
                            <a  href="#/login">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Donor List</h4>
                            </div>
                            <div class="content">
                            <div class="row">
                                 <div class="col-md-9">
                                 <div class="form-group">
                                               
                                                </div>
                                            </div>
                                </div>
                            <div class="row">
                                <div class="col-md-9">
                                 <div class="form-group">
                                                <button type="button" class="btn btn-info btn-fill" ng-click="createNewDonor()">Add New User</button>
                                            </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <footer class="footer">
            <div class="container-fluid"> 
                <nav class="pull-left">
                     <ul>
                        <li>
                            <a href="#">
                                Help
                            </a>
                        </li>
                    </ul>
                </nav>
                 <p class="copyright pull-right">
                    &copy; 2017 <a href="http://www.fshn.edu.al" target="_blank" style="color:red;">FSHN</a>, made with love for a better life
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

    <!--  Charts Plugin -->
    <script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="assets/js/light-bootstrap-dashboard.js"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="assets/js/demo.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            demo.initChartist();

        });
    </script>
</html>
