

        <div class="content"  ng-controller="ModalInstanceCtrl" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Create New Donor Profile</h4>
                            </div>
                            <div class="content">
                                <form name="newDonorForm" ng-submit="submitNewDonorForm(newDonorForm.$valid)" novalidate role="form">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Donor Personal Number</label>
                                                <input type="text"  ng-model="donorPersonalNumber"
                                                name="donorPersonalNumber" class="form-control" placeholder="Donor Personal Number" required>
                                                <p style="color: red" ng-show="!newDonorForm.donorPersonalNumber.$valid && newDonorForm.donorPersonalNumber.$touched" class="help-block">Personal Number is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="donorName" ng-model="donorName" class="form-control" placeholder="Donor Name" required>
                                                <p style="color: red" ng-show="!newDonorForm.donorName.$valid && newDonorForm.donorName.$touched" class="help-block">Name is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label >LastName</label>
                                                <input type="text" name="donorLastName" ng-model="donorLastName" class="form-control" placeholder="Donor LastName" required>
                                                <p style="color: red" ng-show="!newDonorForm.donorLastName.$valid && newDonorForm.donorLastName.$touched" class="help-block">LastName is required.</p
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Blood Type</label>
                                                <select name="selectedDonorBloodType" ng-model="selectedDonorBloodType" class="form-control" ng-options="x for x in donorBloodType" required>
                                                </select>
                                                <p style="color: red" ng-show="!newDonorForm.selectedDonorBloodType.$valid && newDonorForm.selectedDonorBloodType.$touched" class="help-block">Blood Type is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Donor City</label>
                                                <select name="selectedDonorCity" ng-model="selectedDonorCity" class="form-control" ng-options="x for x in cities" required>
                                                </select>
                                                <p style="color: red" ng-show="!newDonorForm.selectedDonorCity.$valid && newDonorForm.selectedDonorCity.$touched" class="help-block">City is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" name="donorAddress" ng-model="donorAddress" class="form-control" placeholder="Donor Address" required>
                                                <p style="color: red" ng-show="!newDonorForm.donorAddress.$valid && newDonorForm.donorAddress.$touched" class="help-block">Address is required.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                 <label for="exampleInputEmail1">Email address</label>
                                                <input type="email"
                                                name="email" ng-model="email" class="form-control" placeholder="Email" required>
                                                <p style="color: red" ng-show="!newDonorForm.email.$valid && newDonorForm.email.$touched" class="help-block">Email is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                 <label>Phone Number</label>
                                               <input name="donorPhoneNumber" class="form-control" type="number" ng-model="donorPhoneNumber" placeholder="Phone Number" >
                                               <p style="color: red" ng-show="!newDonorForm.donorPhoneNumber.$valid && newDonorForm.donorPhoneNumber.$touched" class="help-block">Phone Number is required.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Branch</label>
                                                <input type="text" ng-model="branchID" class="form-control" disabled placeholder="Branch">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                               <label>Donors Birthday</label>
                                               <input name="dateBirth" class="form-control" type="date" ng-model="dateBirth" required>
                                                <p style="color: red" ng-show="!newDonorForm.dateBirth.$valid && newDonorForm.dateBirth.$touched" class="help-block">Donors Birthday is required.</p>
                                            </div>
                                    </div>
                                    </div>
                                        <div class="row">
										<div class="col-md-6">
                                            <div class="form-group">
                                               <button type="submit" ng-disabled="newDonorForm.$invalid" class="btn btn-info btn-fill">Create Profile</button>
                                            </div>
                                        </div>
                                    
                                        </div>
									<div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>

	<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

    	});
	</script>
</html>
